*.d
*.exe
*.o
*.o.json
*~
.cache/
/*.creator.user
/.qtc_clangd/
/.vscode/
/build/
/doc/html/
/doc/latex/
/doc/man/
/doc/rtf/
/doc/xml/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json
srtview
